# Secrets
.env
.env.*
!.env.example

# Python
venv/
.venv/
__pycache__/
*.py[cod]
*.egg-info/
instance/*.db

# Node
node_modules/
npm-debug.log*
yarn-error.log*
build/
dist/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
